h1
  img(src="/images/zdwalter.jpg")
  |  
  =  title 
hr

p My Name is Dawei Zheng(Walter). I am a developer.
p Recently, I am using 
  |  NodeJS
  |  to build distributed system.
p I used to develop server programs under Linux, using 
  b python
  |  and 
  b C/C++
  | .

hr

h2 Summary
p lead and develop distributed system running on 100+ servers, which serve busily 24x7.
    
p experienced with complex software systems, distributed systems, algorithms, data structures, and performance optimizations. 

p design and deliver complex software systems to:
p 1. Find/Extract features to match similar video/audio in a large known database.
p 2. Find/Extract features to match similar text in a large article list.
p 3. Collect and analytics server and app performance.
    
h3 Specialties
p Data collection and analytics, distributed system, Pattern Recognition 

hr

h2 Work Experience

b Back-end Architect
|  Doit.im 
| 2012 - present

p Doit.im(http://doit.im/), is the smart way to manage tasks, by over 3,000,000 users throughout the world.
p I help to scale up the service for increasing number of users, using less CPU power than before.

b Architect & Senior Researcher
|  ShanDa Interactive Entertainment Ltd.
| 2011 – 2012

p I am the dev lead and manager of "Fingerprinting and Tracking of Online Literature Works".
p This project aims to create a unique digital fingerprint for each and every piece of literature works owned by Shanda Literature. The digital fingerprint can be used to identify pirated copies of the corresponding literature works on the Internet. The project will also build a tracking system which will automatically discover and report how Shanda’s online literature works populate and propagate on the Internet. With this system, the legal department can collect more accurate evidence, and deal with more piracy sites, and the marketing department will have statistic analysis to find out what customers like most.

b Lead Software Developer
|  Vobile
|  2005 - 2011

p Vobile is the leading provider of digital content fingerprinting and identification products and services. Vobile's VDNA® (VideoDNA) technology is the gold standard in video content fingerprinting and identification and has been adopted by all major Hollywood studios and TV networks.

p As one of the first employees, I develop the groundbreaking product and service based on the VDNA® technology.

hr
h2 Education

b Zhejiang University
p Master of Science (MS) & Bachelor, Computer Science 2002 – 2008

hr
h2 SideProjects

p
a(target="_blank",href='http://learnjs.zdwalter.info') LearnJS
|  - online Javascript learning (http://learnjs.zdwalter.info)
|  You can type in some code, and visually see how code runs step by step.


p
a(target="_blank",href='http://s.0x1.in') Search
|  - no longer show annoying similar results (http://s.0x1.in) 
|  Grep search results from Google, then group similar results together.

p
a(target="_blank",href='http://spider.0x1.in') SpiderMan
|  - crawling webpage online service (http://spider.0x1.in)
|  Make complicate crawling into simple http call.


hr

h2 Languages

p English
p Chinese
p Cantonese

h2 Publications

p
a(target="_blank",href='http://www.amazon.com/Node-Running-Scalable-Server-Side-JavaScript/dp/1449398588') Node: Up and Running: Scalable Server-Side Code with JavaScript
| - I am the translator of the Chinese Edition. (http://goo.gl/8kP3K)

p
a(target="_blank",href='/slides/multimedia-tracking') MultiMedia Tracking
| (http://zdwalter.info/slides/multimedia-tracking)

hr

p Reach me at
p email: zdwalter@gmail.com
p phone: +86-13588746300
p github: 
  a(target="_blank",href="https://github.com/zdwalter") https://github.com/zdwalter
p Linkedin:
  a(target="_blank",href="http://www.linkedin.com/in/zdwalter") http://www.linkedin.com/in/zdwalter

