h1
  =  title 
hr

h2 Contact information

p Name: Dawei Zheng(Walter)
p email: zdwalter@gmail.com
p phone: +86-13588746300
p github: 
  a(target="_blank",href="https://github.com/zdwalter") https://github.com/zdwalter
p Linkedin: 
  a(target="_blank",href="http://www.linkedin.com/in/zdwalter") http://www.linkedin.com/in/zdwalter

hr

h2 Summary
p I am experienced with complex distributed systems, algorithms, data structures, and performance optimizations. 

p I have designed and delivered complex software systems to:
p 1. Find/Extract features to match similar video/audio in a large known database.
p 2. Crawling the internet, Find/Extract features to match similar text in a large article list.
p 3. Collect and analytics server and app performance.
    
h3 Specialties
p Data collection and analytics, distributed system, Pattern Recognition 

h3 Technologies
p languages: C/C++, python, node.js, shell script
p Linux, Network programming, Multithreaded programming

hr

h2 Work Experience

b Back-end Architect
|  Doit.im 
| 2012 - present

p After collecting the system information, I analysis and discover the bottle-net. Then I help to scale up the service for increasing number of users, using less CPU power and Network Bandwidth than before.

b Architect & Senior Researcher
|  ShanDa Interactive Entertainment Ltd.
| 2011 – 2012

p I am the dev lead and manager of "Fingerprinting and Tracking of Online Literature Works".
p I design and build the whole system, including:
ul
    li How to discover related web page and crawl the site. (need to deal with thousands different sites)
    li How to extract unique digital fingerprint of literature database. (keep extracted feature small)
    li How to compare fast and correctly of target web page.  (quickly filter out no-match candidates)
    li How to present the useful data from match result. (diagram helps people to explore)

b Lead Software Developer
|  Vobile
|  2005 - 2011

p Vobile's VDNA® (VideoDNA) technology is the gold standard in video content fingerprinting and identification and has been adopted by all major Hollywood studios and TV networks.

p As one of the first employees, I develop the groundbreaking product and service based on the VDNA® technology.

p I build a C++ multithreaded application to:
ul
    li accept network request from many clients
    li dispatch requests to several workers, which process the query (CPU bound)
    li merge and filter the result using a trained neural network model (the model improves accuracy through iteration)

h3 Side Projects

p
a(target="_blank",href='http://spider.0x1.in') SpiderMan
|  - crawling web page online service (http://spider.0x1.in)
|  Make complicate crawling into simple http call.

p
a(target="_blank",href='http://s.0x1.in') Search
|  - no longer show annoying similar results (http://s.0x1.in) 
|  Grep search results from Google, then group similar results together.

p
a(target="_blank",href='http://learnjs.zdwalter.info') LearnJS
|  - online Javascript learning (http://learnjs.zdwalter.info)
|  You can type in some code, and visually see how code runs step by step.

hr
h2 Education

b Zhejiang University
p Master of Science (MS) & Bachelor, Computer Science 2002 – 2008


hr

h2 Languages

p English, Chinese, and Cantonese.

h2 Publications

p
a(target="_blank",href='http://www.amazon.com/Node-Running-Scalable-Server-Side-JavaScript/dp/1449398588') Node: Up and Running: Scalable Server-Side Code with JavaScript
|  - I am the translator of the Chinese Edition. (http://goo.gl/8kP3K)

p
a(target="_blank",href='/slides/multimedia-tracking') MultiMedia Tracking
|  (http://zdwalter.info/slides/multimedia-tracking)


