h1
  =  title 
hr

h2 Contact information

p Name: Dawei Zheng (Walter)
p Email: zdwalter@gmail.com
p Phone: +86-13588746300
p Github: https://github.com/zdwalter
p Linkedin: http://www.linkedin.com/in/zdwalter

hr

h2 Summary
p 8 years of experience in complex distributed systems, algorithms, data structures, and performance optimizations. 

p Design and deliver complex software systems to:
ul
  li Find/Extract features to match similar video/audio in a large known database.
  li Internet data mining, find and match similar text in a long list of articles.
  li Collect/Analyze/Improve system performance.
    
h3 Specialties
p Data Collection and Analytics, Machine Learning, Pattern Recognition 

h3 Technologies
p Languages: C/C++, Python, Node.js, Shell Script
p Linux, Network programming, Multithreaded programming

hr

h2 Work Experience

b Back-End Architect
|  Doit.im 
| 2012 - present

p Service scale up the for increasing number of users:
ul 
  li Response speed faster, time 98% shorter
  li Using much less CPU power and network bandwidth

b Architect & Senior Researcher
|  ShanDa Interactive Entertainment Ltd.
| 2011 – 2012

p Dev-Lead and manager of project "Fingerprinting and Tracking of Online Literature Works":
ul
  li Search Internet and find web pages containing potential pirated content
  li Crawl thousands of different web sites
  li Extract small and unique digital fingerprint of literature works
  li Filter out no-match web pages quickly with low cost
  li Compare the target web page fast and correctly
  li Visualizing matched data by creating diagrams


b Lead Software Developer
|  Vobile
|  2005 - 2011

p Groundbreaking product developed for VDNA tech, adopted by all major Hollywood studios and TV networks.
p Functions of product:
ul
    li Collect network request from a great number of clients
    li Dispatch requests to remote workers processing the CPU bound query
    li Merge and filter the result using a trained neural network model
    li Improve the model accuracy through training iteration

h3 Side Projects

p SpiderMan (http://spider.0x1.in)
|  - Crawling web page online service.
|  Make complicate crawling into simple http call.

p Search (http://s.0x1.in)
|  - Grep search results from Google, save your time by grouping similar results together.

p LearnJS (http://learnjs.zdwalter.info)
|  - Online Javascript learning.
|  You can type in some code, and visually see how code runs step by step.

hr
h2 Education

b Zhejiang University
p Bachelor, Computer Science 2002 – 2006
p Master of Science, Computer Science 2006 – 2008


hr

h2 Languages

p English, Chinese, and Cantonese.

h2 Publications

p Node: Up and Running: Scalable Server-Side Code with JavaScript (http://goo.gl/8kP3K)
|  - I am the translator of the Chinese Edition. 

