h1= title

hr

p My Name is Walter Zheng, I am a developer.
p Recently, I am using 
  a(href='http://nodejs.org')  NodeJS
  |  to build distributed system
  | , and write WepApp using
  b html5
  |  and 
  b javascript
  | .
p I used to develop server programs under Linux, using 
  b python
  |  and 
  b C/C++
  | .

hr

h2 My Works

p
a(href='http://learnjs.info') LearnJS
|  - online Javascript learning

p
a(href='https://github.com/zdwalter/info') This Site

p
a(href='http://my12306.3322.org/') my12306

hr

h2 My Talks
p
a(href='/slides/multimedia-tracking') MultiMedia Tracking

hr

p Reach me at
p email: zdwalter#gmail.com
p sina weibo: 
  a http://www.weibo.com/zdwalter
p github: 
  a https://github.com/zdwalter
