h1
  img(src="/images/zdwalter.jpg")
  |  
  =  title 

hr

p My Name is Walter Zheng(郑达韡), I am a developer.
p Recently, I am using 
  a(target="_blank",href='http://nodejs.org')  NodeJS
  |  to build distributed system
  | , and write WepApp using
  b html5
  |  and 
  b javascript 
  | .
p I used to develop server programs under Linux, using 
  b python
  |  and 
  b C/C++
  | .

h2 Tech stack
p
a(target="_blank",href='/js') Javascript
|  - everything using JS

hr

h2 My Works

p
a(target="_blank",href='http://s.0x1.in') Search
|  - no longer show annoying similar results  

p
a(target="_blank",href='http://li.nked.in') Li.nked.In
|  - SHORT personal linkedin url service

p
a(target="_blank",href='http://sp.iderman.info') SpiderMan
|  - crawling webpage online service

p
a(target="_blank",href='http://proxyhub.info') ProxyHub
|  - ProxyHub provides an HTTP proxy, with a pool of rotating IPs

p
a(target="_blank",href='http://a.ppfrom.me') AppFromMe
|  - make your own Apps within 5 Minutes, in browser

p
a(target="_blank",href='http://learnjs.info') LearnJS
|  - online Javascript learning


p
a(target="_blank",href='http://github.com/zdwalter/info') This Site

p
a(target="_blank",href='http://my12306.3322.org/') my12306

hr

h2 My Talks
p
a(target="_blank",href='/slides/multimedia-tracking') MultiMedia Tracking

hr

h2 My Books
p
a(target="_blank",href='http://www.ituring.com.cn/book/855') Node: Up and Running: Scalable Server-Side Code with JavaScript
| - Chinese Translation


hr

h3 My Pinboard 
  a(target="_blank",href='http://pinboard.in/u:zdwalter') Bookmarks

hr

p Reach me at
p email: zdwalter#gmail.com
p sina weibo: 
  a(target="_blank",href="http://www.weibo.com/zdwalter") http://www.weibo.com/zdwalter
p github: 
  a(target="_blank",href="https://github.com/zdwalter") https://github.com/zdwalter
p 
  | <script type="IN/MemberProfile" data-id="http://zdwalter.li.nked.in" data-format="hover" data-text="Walter Zheng" data-related="false"></script>
  |  : 
  a(target="_blank",href="http://zdwalter.li.nked.in") http://zdwalter.li.nked.in

hr

h2 Leave me a 
  a(target="_blank",href='http://scrib.in/5v7a2h') note
