h1 Tech stack

h2 basic
p
  a(target="_blank", href="http://stackoverflow.com/questions/11246/best-resources-to-learn-javascript") resources to learn javascript
p
  a(target="_blank", href="http://www.amazon.cn/mn/detailApp/ref=asc_df_047022780X402616/?asin=047022780X") Professional JavaScript for Web Developers
p
  a(target="_blank", href="http://www.w3.org/DOM/") DOM
  | - Document Object Model
p
  a(target="_blank", href="http://jashkenas.github.com/coffee-script/") CoffeeScript
  | - a little language that compiles into JavaScript
p
  a(target="_blank", href="http://www.json.org") JSON
  | - (JavaScript Object Notation) is a lightweight data-interchange format. 

h2 backend
p
  a(target="_blank", href="http://nodejs.org") NodeJS
  | - for easily building fast, scalable network applications
p
  a(target="_blank", href="http://expressjs.com") Express
  | - High performance, high class web development for Node.js
p
  a(target="_blank", href="http://jade-lang.com") Jade
  | - Node Template Engine
p
  a(target="_blank", href="http://www.mongodb.org/") MongoDB
  | - a scalable, high-performance, open source NoSQL database. 
p
  a(target="_blank", href="http://redis.io/") Redis
  | - key-value store

h2 frontend
p
  a(target="_blank", href="http://jquery.com") JQuery
  | - a fast and concise JavaScript Library that simplifies HTML document traversing, event handling, animating, and Ajax interactions for rapid web development
p
  a(target="_blank", href="") Backbone (MVC)
  | - gives structure to web applications by providing models with key-value binding and custom events, collections with a rich API of enumerable functions, views with declarative event handling, and connects it all to your existing API over a RESTful JSON interface.
p
  a(target="_blank", href="http://twitter.github.com/bootstrap") Bootstrap
  | - Simple and flexible HTML, CSS, and Javascript for popular user interface components and interactions.
p
  a(target="_blank", href="http://icanhazjs.com/") ICanHaz
  | - Simple and powerful client-side templating
p
  a(target="_blank", href="http://mustache.github.com/") mustache 
  | - Logic-less templates
p
  a(target="_blank", href="http://phantomjs.org/") PhantomJS 
  | - a headless WebKit with JavaScript API
p
  a(target="_blank", href="http://casperjs.org/") CasperJS
  | - navigation scripting and testing utility written in Javascript
p
  a(target="_blank", href="http://d3js.org/") D3
  | - Data-Driven Documents
