h1 Slides

h2 Introduction to node.js 
p
  a(target="_blank", href="http://www.slideshare.net/jacekbecela/introduction-to-nodejs")  one
p
  a(target="_blank", href="http://www.slideshare.net/gabriele.lana/introduction-to-nodejs") another
p
  a(target="_blank", href="http://andersjanmyr.github.com/evented-programming-with-nodejs/#11") third

h2 PaaS
p 
  a(target="_blank", href="http://blog.cloudfoundry.com/page/2/") by cloud foundry
