!!!
html
  head
    meta(name="viewport", content="width=1024")
    meta(name="apple-mobile-web-app-capable", content="yes")
    title 数字化媒体的跟踪与分析
    meta(name="author", content="Walter Zheng")
    link(rel='stylesheet', href='/stylesheets/multimedia-tracking.css')
    link(rel='stylesheet', href='/stylesheets/impress-demo.css')

  body
    div#impress.impress-not-supported
      div.fallback-message
        p Your browser 
          b doesn't support the features required 
          | by impress.js, so you are presented with a simplified version of this presentation.
        p For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser. Upcoming version 10 of Internet Explorer <i>should</i> also handle it.
      div#overview.step(data-x="0", data-y="0", data-scale="5")
      div#title.step(data-x="0", data-y="0", data-scale="3")
        center
          h2 数字化媒体的跟踪与分析
      div#aboutMe.step(data-x="1000", data-y="1500")
        h2 郑达韡
        hr
        ul
          li 
            p 
              a(href="http://in.sdo.com")
                img(src="/images/in.sdo.jpg", alt="盛大创新院", width="234", height="54")
              | 多媒体院 高级研究员
          li
            a(href="http://zdwalter.info") http://zdwalter.info
      div#trends_music.step(data-x="2000", data-y="-1500", data-rotate="-90")
        center
          h2 多媒体数字化的趋势，无法阻挡
          hr
          p 音乐
          p
            font(color="4684ee") CD 
            | vs 
            font(color="dc3912") MP3
            a(href="http://www.google.com/trends/?q=CD,+mp3&ctab=0&geo=all&date=all&sort=1") 
              font(color="#808080",size=3) (data source)
          img(src="/images/trends_CD_vs_MP3.jpg")
      div#trends_video.step(data-x="2000", data-y="-900")
        center
          hr
          p 视频
          p
            font(color="4684ee") DVD 
            | vs 
            font(color="dc3912") YouTube 
            a(href="http://www.google.com/trends/?q=DVD,+youtube|video&ctab=0&geo=all&date=all&sort=1") 
              font(color="#808080",size=3) (data source)
          img(src="/images/trends_DVD_vs_YouTube.jpg")
      div#trends_noval.step(data-x="2000", data-y="-300" , data-rotate="90")
        center
          hr
          p
            img(src="/images/cloudary_logo.png", width="286px", height="124px")
          p
            img(src="/images/cloudary_income.png")
      div#real.step(data-x="-1000", data-y="-1000", data-scale="1")
        h2 正版的优势
        hr
        ul
          li 更新快
          li 查找方便
          li 下载快速
          li 内容质量高
      div#fake.step(data-x="-0", data-y="-1000", data-scale="1")
        h2 盗版的优势
        hr
        ul
          li 免费
      div#fake_bad.step(data-x="1000", data-y="-1000", data-scale="1")
        h2 盗版的劣势
        hr
        ul
          li 威胁: 病毒、木马
          li 干扰: 广告、弹窗
          li 时间: 查找、筛选
          li 质量: 粗糙
      div#cost.step(data-x="2000", data-y="1000",data-scale="1")
        center
          div
            p
              我就是
          div
            p
              img(src="/images/Conan2_by_Shinichiran.jpg", height="80%", width-max="80%")
            hr
            p
              font(size="1") image source: http://shinichiran.deviantart.com/art/Conan2-154612801
      div#cost_joke.step(data-x="2000", data-y="1000", data-z="-100", data-scale="1", data-rotate="-10")
        center
          p
            b.rotating 万年小学生
      div#method.step(data-x="-1000", data-y="1000", data-scale="2")
        center
          p 商业模式的竞争
          hr
          p 技术如何帮助业务？
      div#goal.step(data-x="-1000", data-y="1000", data-z="-1000", data-rotate="180", data-scale="1")
        center
          p 目标: 断绝盗版的存在
      div#site_youtube.step(data-x="0", data-y="600")
        center
          p 盗版网站类型
          hr
          p UGC
          img(src="/images/youtube.png", width="80%")
      div#site_youku.step(data-x="0", data-y="650", data-z="-1000")
        center
          img(src="/images/youku.png", width="80%")
      div#site_tudou.step(data-x="0", data-y="700", data-z="-2000")
        center
          img(src="/images/tudou.png", width="80%")
      div#site_tieba.step(data-x="800", data-y="800")
        center
          img(src="/images/tieba.png", width="80%")
      div#site_ranwen.step(data-x="-1000", data-y="-1500")
        center
          p 小说站
          hr
          img(src="/images/ranwen.png", width="80%")
      div#site_luoqiu.step(data-x="-300", data-y="-1450")
        center
          img(src="/images/luoqiu.png", width="80%")
      div#article_good.step(data-x="200", data-y="-1500")
        center
          p 小说内容
          hr
          img(src="/images/article_good.png", height="80%")
      div#article_bbs.step(data-x="800", data-y="-1800", data-rotate="90")
        center
          img(src="/images/article_bbs.png", height="80%")
      div#article_bad.step(data-x="1500", data-y="-1500", data-rotate="0")
        center
          img(src="/images/article_bad.png", width="80%")


        

    script(src="/javascripts/impress.js")
    script
        impress();

