!!!
html
  head
    meta(name="viewport", content="width=1024")
    meta(name="apple-mobile-web-app-capable", content="yes")
    title 数字化媒体的跟踪与分析
    meta(name="author", content="Walter Zheng")
    link(rel='stylesheet', href='/stylesheets/multimedia-tracking.css')
    link(rel='stylesheet', href='/stylesheets/impress-demo.css')

  body
    div#impress.impress-not-supported
      div.fallback-message
        p Your browser 
          b doesn't support the features required 
          | by impress.js, so you are presented with a simplified version of this presentation.
        p For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser. Upcoming version 10 of Internet Explorer <i>should</i> also handle it.
      div#overview.step(data-x="0", data-y="0", data-scale="5")
      div#title.step(data-x="0", data-y="0", data-scale="3")
        center
          h2 数字化媒体的跟踪与分析
      div#aboutMe.step(data-x="1000", data-y="1500")
        h2 郑达韡
        hr
        ul
          li 
            p 
              a(href="http://in.sdo.com")
                img(src="/images/in.sdo.jpg", alt="盛大创新院", width="234", height="54")
              | 多媒体院 高级研究员
          li
            a(href="http://zdwalter.info") http://zdwalter.info
      div#trends_music.step(data-x="2000", data-y="-1500", data-rotate="-90")
        center
          h2 多媒体数字化的趋势，无法阻挡
          hr
          p 音乐
          p
            font(color="4684ee") CD 
            | vs 
            font(color="dc3912") MP3
            a(href="http://www.google.com/trends/?q=CD,+mp3&ctab=0&geo=all&date=all&sort=1") 
              font(color="#808080",size=3) (data source)
          img(src="/images/trends_CD_vs_MP3.jpg")
      div#trends_video.step(data-x="2000", data-y="-900")
        center
          hr
          p 视频
          p
            font(color="4684ee") DVD 
            | vs 
            font(color="dc3912") YouTube 
            a(href="http://www.google.com/trends/?q=DVD,+youtube|video&ctab=0&geo=all&date=all&sort=1") 
              font(color="#808080",size=3) (data source)
          img(src="/images/trends_DVD_vs_YouTube.jpg")
      div#trends_noval.step(data-x="2000", data-y="-300" , data-rotate="90")
        center
          hr
          p
            img(src="/images/cloudary_logo.png", width="286px", height="124px")
          p
            img(src="/images/cloudary_income.png")
      div#cost.step(data-x="2000", data-y="1000",data-scale="1")
        div
          p
            我就是
        div
          p
            img(src="/images/Conan2_by_Shinichiran.jpg", height="80%")
          hr
          p
            font(size="1") image source: http://shinichiran.deviantart.com/art/Conan2-154612801
      div#cost_joke.step(data-x="2000", data-y="1000", data-z="-100", data-scale="1", data-rotate="-10")
        p
          b.rotating 万年小学生
        

    script(src="/javascripts/impress.js")
    script
        impress();

